
# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Large data/models (Optional - typically these are gitignored but keeping them as requested for 'submission')
# *.pth
# *.npz
